.custom-logo {
  
  .site-meta-headline { text-align: center; }

  .brand { 
    margin: 0 auto;
    padding: 25px;
    max-width: 150px;
    background: #ecf9f8;
    border-radius: 50% 
    transition: 2.5s all; 
    +mobile(){
      padding: 10px 0;
      background-image: linear-gradient(90deg,#f79533 0,#f37055 15%,#ef4e7b 30%,#a166ab 44%,#5073b8 58%,#1098ad 72%,#07b39b 86%,#6dba82 100%)!important;
    }
  }

   .brand:hover { 
    transform: rotate(360deg);
  }

}

.custom-logo-image {
  margin: 0 auto;
  padding: 5px;
  max-width: 150px;
  background: white;
  border-radius: 50% 
  transition: 2.5s all; 
}

.custom-logo:hover {
  transform: rotate(360deg);
}